
body {
	background-color: blue-grey;
	font-family: "Times New Roman", Georgia, Serif;
}
.navbar-default{
	margin: 20px;
	background-color: #708090;

}
.name {
	color: #ffffff;
	margin-top: -10px;
}
.navbar-right {
	margin-right: 15px;
}

li {
	position: absolute;
	margin-right: 10px;
	color: white;
}

h1 {
	text-align: center;
	line-height: 100%;
}

#glyph{
	float: right;
	margin-top: -55px;
	margin-right: 45%;
}
#search-input{
	margin-top: 10px;
	width: 26%;
	margin-left: 20%;
}

h2 {     
	padding-bottom: 20px;
    color: #5d4037;
	font-family: 'Lobster', cursive;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}
label{
	color: #2e7d32;
	font-size: 40px;
	margin-left: 40%;


}

p {
	margin-left: 5%;
	font-family: 'Lobster', cursive;
	font-size: 18px;
	text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  color: white;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #666666;
}